a {
    text-decoration: none;
}

main {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: dodgerblue;
    border: 1px transparent;
    border-radius: 5px;
    padding: 5px 15px;
    height: 230px;
    border-bottom: 5px solid black;
}

main > p {
    text-align: right;
    font-size: 2em;
    color: black;
}

header > h1 {
    float: right;
    color: black;
    font-size: 3em;
    margin: 25px 10%;
}

header > address {
    float: right;
    margin: 0 5%;
}

header > address > ul {
    color: gold;
    font-size: 1.2em;
    font-weight: bold;
}

header > img {
    float: left;
    height: 90%;
    margin-top: 10px;
}

aside {
    position: fixed;
    top: 250px;
    float: left;
    width: 20%;
    margin-left: 2.5%;
}

aside ul {
    font-size: 1.5em;
}

aside ul > li > a {
    display: block;
    text-align: center;
    margin: 10px 0px;
    float: left;
    width: 80%;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 0px 20px 20px 0px;
    color: white;
}

aside ul > li > a:hover {
    background-color: darkblue;
    color: gold;
}

div {
    padding: 2.5%;
    float: right;
    width: 70%;
    margin: 0 auto;
}

section {
    margin: 50px 0;
}

#about, #education, #examples, #language, #skill {
    font-size: 1.2em;
}

h2 {
    font-size: 1.5em;
    text-decoration: underline;
    color: darkblue;
    text-align: center;
}

ul {
    list-style-type: none;
}

footer {
    float: none;
    width: 80%;
    margin: 0 auto;
}

footer > img {
    float: left;
    height: 50px;
    margin: 0px 50px;
}

footer > a {
    float: right;
    margin: 0px 50px;
    background-color: gray;
    color: white;
    font-size: 2em;
    border: 2px solid gray;
    border-radius: 25px;
    padding: 5px;
}

footer > a:hover {
    background-color: blue;
    color: gold;
}
